.input {
  box-shadow: none !important;
  min-height: 48px;
  border-radius: 6px;
  border: solid 1px #ebebeb;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  outline: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #222222;
    font-weight: 500;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #222222;
    font-weight: 500;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #222222;
    font-weight: 500;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #222222;
    font-weight: 500;
  }
}

.h40 {
  height: 40px;
  font-size: 14px;
}

.bb1 {
  border: 0;
  border-bottom: solid 1px #BFC7CA;
  border-radius: 0;
}

.hasError {
  
}

.focus {
  border-color: #7B68EE
}

.errorField {
  border-color: #ff6565
}

.fullBorder {
  border-radius: 4px;
  box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21) !important;
  padding: 0 16px;
  border: 1px solid #e2e5ed;
}

.floatingLabel {
  position: absolute;
  bottom: 8px;
  left: 0;
  color: #999999;
  pointer-events: none;
  // transition: all 0.5s ease-in-out;
  transition: .5s;
  font-size: 12px;
}

.inputContainer {
  position: relative;
  width: 100%
}

.labelError {
  font-size: 12px;
  color: #CF1E1E !important;
}

.errorMessage {
  font-size: 12px;
  color: #CF1E1E !important;
  margin-left: 6px
}

.icon {
  width: 20px;
  height: 20px;
}

.iconUp {
  transform: rotate(180deg);
}

.valueWrapper {
  display: flex;
  align-items: center;
  margin: 0px 6px 4px 6px;
  background-color: #f4f4f4;
  padding: 3px 6px;
  border-radius: 3px;
  .avatar {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
  }
  .name {
    font-size: 14px;
    color: #333333;
    margin-bottom: 0;
  }

  .btnClose {
    margin-left: 6px;
    .closeIcon {
      width: 16px;
    }
  }
  
}

.option {
  padding: 8px 16px;
  .workspace {
    font-size: 12px;
    color: #999999;
    margin-bottom: 2px;
  }
  .project {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0;
  }
  &:hover {
    background-color: #E4E1FC;
  }
}

.selected {
  background-color: #E4E1FC;
}

.currentUser {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  .avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  .info {
    flex: 1
  }
  .name {
    font-size: 15px;
    color: #333333;
    margin-bottom: 0;
    font-weight: bold;
  }
  .email {
    font-size: 13px;
    color: #333333;
    margin-bottom: 0;
  }
  .position {
    font-size: 12px;
    color: #666666;
    margin-bottom: 0;
  }
}
